/_install
/_build
/_source
/_package
__pycache__
.pytest_cache/
.venv/
*.egg-info/
/_skbuild
build
.ruff_cache
.mypy_cache
*.pyc

src/sora_sdk/*.so
src/sora_sdk/*.dll
src/sora_sdk/*.pyd
src/sora_sdk/*.pyi
src/sora_sdk/py.typed

# パッケージ
/dist
/wheelhouse

# examples / E2E テスト用
.env*
!.env.template

# libopenh264
libopenh264*
