/_install
/_build
/_source
/_package
__pycache__/
.pytest_cache/
.venv/
*.egg-info/
/_skbuild
build

src/sora_sdk/*.so
src/sora_sdk/*.dll
src/sora_sdk/*.pyd
src/sora_sdk/model_coeffs/*
!src/sora_sdk/model_coeffs/.gitkeep

# パッケージ
/dist
/wheelhouse
