/_install
/_build
/_source
/_package
__pycache__/
.pytest_cache/
.venv/
*.egg-info/
/_skbuild
build

src/sora_sdk/*.so
src/sora_sdk/*.dll
src/sora_sdk/*.pyd
src/sora_sdk/*.pyi
src/sora_sdk/py.typed

# パッケージ
/dist
/wheelhouse

# E2E テスト用
.env

# libopenh264
libopenh264*