[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
opencv-python = "*"
opencv-python-headless = "*"
sounddevice = "*"

[requires]
python_version = "3.10"
