[project]
name = "sora_sdk"
authors = [{ name = "Shiguredo Inc.", email = "contact+pypi@shiguredo.jp" }]
version = "2023.4.0.dev9"
description = "WebRTC SFU Sora Python SDK"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
requires-python = ">= 3.8"

[project.urls]
Source = "https://github.com/shiguredo/sora-python-sdk"
Documentation = "https://sora-python-sdk.shiguredo.jp"
Discord = "https://discord.gg/shiguredo"

[tool.rye]
dev-dependencies = [
    "nanobind>=1.8.0",
    "setuptools>=42",
    "build~=0.10.0",
    "wheel~=0.40.0",
    "auditwheel~=5.4.0",
    "pytest~=7.3.2",
    "ruff>=0.1.14",
]

[tool.ruff]
line-length = 100
indent-width = 4
