[tool.rye]
dev-dependencies = [
    "nanobind>=1.4.0",
    "setuptools>=42",
    "build~=0.10.0",
    "wheel~=0.40.0",
    "auditwheel~=5.4.0",
]

[project]
name = "sora_sdk"
authors = [{ name = "Shiguredo Inc.", email = "contact+pypi@shiguredo.jp" }]
version = "2023.1.0.dev6"
description = "WebRTC SFU Sora Python SDK"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = ["Programming Language :: Python :: 3"]
requires-python = ">= 3.8"
