name: build-debug

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: "Build Type"
        required: true
        type: choice
        options:
          - Debug
          - RelWithDebInfo
        default: Debug
      pythonSdkVersion:
        description: "Python Sdk version"
        required: false
        type: string
        default: develop

env:
  TEST_SIGNALING_URLS: ${{ secrets.TEST_SIGNALING_URLS }}
  TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
  TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
  TEST_API_URL: ${{ secrets.TEST_API_URL }}

permissions:
  contents: write

jobs:
  build_ubuntu:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu-24.04_x86_64
            runs-os: blacksmith-8vcpu-ubuntu-2404
        python:
          # - version: "3.10"
          #   soname: sora_sdk_ext.cpython-310-x86_64-linux-gnu.so
          # - version: "3.11"
          #   soname: sora_sdk_ext.cpython-311-x86_64-linux-gnu.so
          # - version: "3.12"
          #   soname: sora_sdk_ext.cpython-312-x86_64-linux-gnu.so
          - version: "3.13"
            soname: sora_sdk_ext.cpython-313-x86_64-linux-gnu.so
    runs-on: blacksmith-8vcpu-ubuntu-2404
    steps:
      ###################
      # 各リポジトリのソースファイルの取得
      ###################
      - uses: actions/checkout@v5
        with:
          path: sora-python-sdk
          ref: ${{ inputs.pythonSdkVersion }}
      - name: Get versions
        id: version
        run: |
          source sora-python-sdk/DEPS
          echo "webrtc_build_version=${WEBRTC_BUILD_VERSION}" >> $GITHUB_OUTPUT
          echo "sora_cpp_sdk_version=${SORA_CPP_SDK_VERSION}" >> $GITHUB_OUTPUT
          echo "boost_version=${BOOST_VERSION}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v5
        with:
          path: webrtc-build
          repository: shiguredo-webrtc-build/webrtc-build
          ref: ${{ steps.version.outputs.webrtc_build_version }}

      - uses: actions/checkout@v5
        with:
          path: sora-cpp-sdk
          repository: shiguredo/sora-cpp-sdk
          ref: ${{ steps.version.outputs.sora_cpp_sdk_version }}

      - name: Fix sora-cpp-sdk
        working-directory: sora-cpp-sdk
        run: |
          curl -LO https://raw.githubusercontent.com/melpon/buildbase/master/buildbase.py

      ###################
      # 各種セットアップ
      ###################

      - name: Setup Git User
        run: |
          git config --global user.name  "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Setup webrtc-build
        run: |
          sudo bash -c '
            set -ex
            apt-get -y install tzdata
            echo "Asia/Tokyo" > /etc/timezone
            dpkg-reconfigure -f noninteractive tzdata
            export DEBIAN_FRONTEND=noninteractive
            apt-get -y install \
              binutils \
              git \
              locales \
              lsb-release \
              ninja-build \
              pkg-config \
              python3 \
              python3-setuptools \
              rsync \
              sudo \
              unzip \
              vim \
              wget \
              xz-utils
          '

      - name: Setup sora-cpp-sdk
        if: steps.sora-cpp-sdk-cache.outputs.cache-hit != 'true'
        working-directory: sora-cpp-sdk
        run: |
          source DEPS
          sudo apt-get update
          sudo apt-get install -y software-properties-common

          # X11
          sudo apt-get install -y libx11-dev libxext-dev

          # Intel Media SDK のために libva-dev, libdrm-dev を入れる
          DEBIAN_FRONTEND=noninteractive sudo apt-get -y install libva-dev libdrm-dev

          # clang-20
          wget https://apt.llvm.org/llvm.sh
          chmod a+x llvm.sh
          sudo ./llvm.sh 20

      - name: Setup sora-python-sdk
        run: |
          sudo apt-get update
          sudo apt-get -y install libva2 libdrm2 libva-dev libdrm-dev libx11-dev portaudio19-dev

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: ${{ matrix.python.version }}

      ###################
      # ビルド
      ###################

      - name: Build sora-python-sdk
        working-directory: sora-python-sdk
        run: |
          set -x
          uv python pin ${{ matrix.python.version }}
          uv sync
          uv run python run.py build ${{ inputs.buildType == 'Debug' && '--debug' || '--relwithdebinfo' }} ${{ matrix.platform.name }} --local-sora-cpp-sdk-dir ../sora-cpp-sdk --local-webrtc-build-dir ../webrtc-build --local-sora-cpp-sdk-args=--disable-cuda
          uv build
        env:
          BUILD_PROFILE: debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.platform.name }}_python-${{ matrix.python.version }}
          path: sora-python-sdk/dist/
