name: build-debug

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: "Build Type"
        required: true
        type: choice
        options:
          - Debug
          - RelWithDebInfo
          - Release
        default: Debug
      python_sdk_ref:
        description: "Python SDK git ref"
        required: false
        type: string
      cpp_sdk_ref:
        description: "C++ SDK git ref"
        required: false
        type: string
      webrtc_build_ref:
        description: "webrtc-build git ref"
        required: false
        type: string

permissions:
  contents: write

jobs:
  build_ubuntu:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu-24.04_x86_64
            runs-on: blacksmith-8vcpu-ubuntu-2404
        python:
          # - version: "3.10"
          #   soname: sora_sdk_ext.cpython-310-x86_64-linux-gnu.so
          # - version: "3.11"
          #   soname: sora_sdk_ext.cpython-311-x86_64-linux-gnu.so
          # - version: "3.12"
          #   soname: sora_sdk_ext.cpython-312-x86_64-linux-gnu.so
          - version: "3.13"
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      ###################
      # 入力値の出力
      ###################
      - name: "Show inputs: bt=${{ inputs.build_type }}, py=${{ inputs.python_sdk_ref }}, cpp=${{ inputs.cpp_sdk_ref }}, rtc=${{ inputs.webrtc_build_ref }}"
        run: |
          echo "build_type: ${{ inputs.build_type }}"
          echo "python_sdk_ref: ${{ inputs.python_sdk_ref }}"
          echo "cpp_sdk_ref: ${{ inputs.cpp_sdk_ref }}"
          echo "webrtc_build_ref: ${{ inputs.webrtc_build_ref }}"

      ###################
      # 各リポジトリのソースファイルの取得
      ###################
      - uses: actions/checkout@v5
        with:
          path: sora-python-sdk
          ref: ${{ inputs.python_sdk_ref }}
      - name: Get versions
        id: version
        run: |
          source sora-python-sdk/DEPS
          echo "webrtc_build_version=${WEBRTC_BUILD_VERSION}" >> $GITHUB_OUTPUT
          echo "sora_cpp_sdk_version=${SORA_CPP_SDK_VERSION}" >> $GITHUB_OUTPUT
          echo "boost_version=${BOOST_VERSION}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v5
        with:
          path: webrtc-build
          repository: shiguredo-webrtc-build/webrtc-build
          ref: ${{ inputs.webrtc_build_ref || steps.version.outputs.webrtc_build_version }}

      - uses: actions/checkout@v5
        with:
          path: sora-cpp-sdk
          repository: shiguredo/sora-cpp-sdk
          ref: ${{ inputs.cpp_sdk_ref || steps.version.outputs.sora_cpp_sdk_version }}

      ###################
      # 実際に使ったソースのバージョンを出力
      ###################
      - name: "Show used versions"
        run: |
          echo "sora-python-sdk: ${{ inputs.python_sdk_ref || github.sha }} (`cd sora-python-sdk && git rev-parse HEAD`)"
          echo "sora-cpp-sdk: ${{ inputs.cpp_sdk_ref || steps.version.outputs.sora_cpp_sdk_version }} (`cd sora-cpp-sdk && git rev-parse HEAD`)"
          echo "webrtc-build: ${{ inputs.webrtc_build_ref || steps.version.outputs.webrtc_build_version }} (`cd webrtc-build && git rev-parse HEAD`)"

      ###################
      # 各種セットアップ
      ###################

      - name: Setup Git User
        run: |
          git config --global user.name  "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Setup webrtc-build
        run: |
          sudo bash -c '
            set -ex
            apt-get -y install tzdata
            echo "Asia/Tokyo" > /etc/timezone
            dpkg-reconfigure -f noninteractive tzdata
            export DEBIAN_FRONTEND=noninteractive
            apt-get -y install \
              binutils \
              git \
              locales \
              lsb-release \
              ninja-build \
              pkg-config \
              python3 \
              python3-setuptools \
              rsync \
              sudo \
              unzip \
              vim \
              wget \
              xz-utils
          '

      - name: Setup sora-cpp-sdk
        working-directory: sora-cpp-sdk
        run: |
          source DEPS
          sudo apt-get update
          sudo apt-get install -y software-properties-common

          # X11
          sudo apt-get install -y libx11-dev libxext-dev

          # Intel VPL のために libva-dev, libdrm-dev を入れる
          DEBIAN_FRONTEND=noninteractive sudo apt-get -y install libva-dev libdrm-dev

          # clang
          wget https://apt.llvm.org/llvm.sh
          chmod a+x llvm.sh
          sudo ./llvm.sh $APT_INSTALL_LLVM_VERSION

      - name: Setup sora-python-sdk
        run: |
          sudo apt-get update
          sudo apt-get -y install libva2 libdrm2 libva-dev libdrm-dev libx11-dev portaudio19-dev

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: ${{ matrix.python.version }}

      ###################
      # ビルド
      ###################

      - name: Build sora-python-sdk
        working-directory: sora-python-sdk
        run: |
          set -x
          uv python pin ${{ matrix.python.version }}
          uv sync
          uv run python run.py build \
            ${{ inputs.build_type == 'Debug' && '--debug' || (inputs.build_type == 'RelWithDebInfo' && '--relwithdebinfo' || '') }} \
            ${{ matrix.platform.name }} \
            --local-sora-cpp-sdk-dir ../sora-cpp-sdk \
            --local-sora-cpp-sdk-args=--disable-cuda \
            --local-webrtc-build-dir ../webrtc-build \
            --local-webrtc-build-args=--no-history
          # パッケージング
          uv build
        env:
          BUILD_PROFILE: debug

      ###################
      # アップロード
      ###################

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.platform.name }}_python-${{ matrix.python.version }}
          path: sora-python-sdk/dist/
