name: build-debug

on:
  workflow_dispatch:
    inputs:
      buildType:
        required: true
        type: choice
        options:
          - Debug
          - RelWithDebInfo
        default: Debug
      loopCount:
        required: true
        type: number
        defualt: 10
      tag:
        required: false
        type: string

env:
  TEST_SIGNALING_URLS: ${{ secrets.TEST_SIGNALING_URLS }}
  TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
  TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
  TEST_API_URL: ${{ secrets.TEST_API_URL }}

permissions:
  contents: write

jobs:
  build_ubuntu:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu-24.04_x86_64
            # runs-on: ubuntu-24.04
            runs-on:
              group: Larger
              labels: [larger-ubuntu-24.04]
        python:
          # - version: "3.10"
          #   soname: sora_sdk_ext.cpython-310-x86_64-linux-gnu.so
          # - version: "3.11"
          #   soname: sora_sdk_ext.cpython-311-x86_64-linux-gnu.so
          # - version: "3.12"
          #   soname: sora_sdk_ext.cpython-312-x86_64-linux-gnu.so
          - version: "3.13"
            soname: sora_sdk_ext.cpython-313-x86_64-linux-gnu.so
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: buildType=${{ inputs.buildTYpe }} loopCount=${{ inputs.loopCount }} tag=${{ inputs.tag }}
        # 1 <= loopCount <= 100
        run: test 1 -le ${{ inputs.loopCount }} -a ${{ inputs.loopCount }} -le 100

      ###################
      # 各リポジトリのソースファイルの取得
      ###################

      - uses: actions/checkout@v5
        with:
          path: sora-python-sdk
          ref: ${{ inputs.tag || 'develop' }}
      - name: Get versions
        id: version
        run: |
          source sora-python-sdk/DEPS
          echo "webrtc_build_version=${WEBRTC_BUILD_VERSION}" >> $GITHUB_OUTPUT
          echo "sora_cpp_sdk_version=${SORA_CPP_SDK_VERSION}" >> $GITHUB_OUTPUT
          echo "boost_version=${BOOST_VERSION}" >> $GITHUB_OUTPUT
          # v2.6.0 -> 2.6.0 に変換する
          OPENH264_VERSION=`echo ${OPENH264_VERSION} | sed 's/^v//'`
          echo "openh264_version=${OPENH264_VERSION}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v5
        with:
          path: webrtc-build
          repository: shiguredo-webrtc-build/webrtc-build
          ref: ${{ steps.version.outputs.webrtc_build_version }}

      - uses: actions/checkout@v5
        with:
          path: sora-cpp-sdk
          repository: shiguredo/sora-cpp-sdk
          ref: ${{ steps.version.outputs.sora_cpp_sdk_version }}

      ###################
      # 各種セットアップ
      ###################

      # - name: Disk Cleanup
      #   run: |
      #     set -x
      #     df -h
      #     # sudo du -h -d1 /usr/local
      #     # sudo du -h -d1 /usr/local/share
      #     # sudo du -h -d1 /usr/local/lib
      #     # sudo du -h -d1 /usr/share
      #     RMI=`docker images -q -a`
      #     if [ -n "$RMI" ]; then
      #       docker rmi $RMI
      #     fi
      #     # 4.6G
      #     sudo rm -rf /usr/local/.ghcup
      #     # 1.7G
      #     sudo rm -rf /usr/share/swift
      #     # 1.4G
      #     sudo rm -rf /usr/share/dotnet
      #     # 13G
      #     sudo rm -rf /usr/local/lib/android
      #     df -h
      - name: Get stats
        run: |
          set -x
          cat /etc/lsb-release
          uname -a
          cat /proc/cpuinfo
          cat /proc/meminfo
      - name: Setup Git User
        run: |
          git config --global user.name  "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Setup webrtc-build
        run: |
          sudo bash -c '
            set -ex
            apt-get -y install tzdata
            echo "Asia/Tokyo" > /etc/timezone
            dpkg-reconfigure -f noninteractive tzdata
            export DEBIAN_FRONTEND=noninteractive
            apt-get -y install \
              binutils \
              git \
              locales \
              lsb-release \
              ninja-build \
              pkg-config \
              python3 \
              python3-setuptools \
              rsync \
              sudo \
              unzip \
              vim \
              wget \
              xz-utils
          '

      # Ubuntu 24.04 だと libtinfo5 が見つからない問題があるので、その修正
      # ref: https://qiita.com/gengen16k/items/88cf3c18a40a94205fab
      - name: Fix CUDA issues for Ubuntu 24.04
        if: matrix.platform.name == 'ubuntu-24.04_x86_64'
        run: |
          sudo tee /etc/apt/sources.list.d/jammy.list << EOF
          deb http://archive.ubuntu.com/ubuntu/ jammy universe
          EOF

          sudo tee /etc/apt/preferences.d/pin-jammy <<EOF
          Package: *
          Pin: release n=jammy
          Pin-Priority: -10

          Package: libtinfo5
          Pin: release n=jammy
          Pin-Priority: 990
          EOF

      - name: Setup sora-cpp-sdk
        if: steps.sora-cpp-sdk-cache.outputs.cache-hit != 'true'
        working-directory: sora-cpp-sdk
        run: |
          source DEPS
          sudo apt-get update
          sudo apt-get install -y software-properties-common

          # X11
          sudo apt-get install -y libx11-dev libxext-dev

          # CUDA
          wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          sudo dpkg -i libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/cuda-keyring_1.0-1_all.deb
          sudo dpkg -i cuda-keyring_*all.deb
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -y install cuda=$CUDA_VERSION

          # Intel Media SDK のために libva-dev, libdrm-dev を入れる
          DEBIAN_FRONTEND=noninteractive sudo apt-get -y install libva-dev libdrm-dev

          # clang-20
          wget https://apt.llvm.org/llvm.sh
          chmod a+x llvm.sh
          sudo ./llvm.sh 20

      - name: Setup sora-python-sdk
        run: |
          sudo apt-get update
          sudo apt-get -y install libva2 libdrm2 libva-dev libdrm-dev libx11-dev portaudio19-dev

      # OpenH264 ライブラリのダウンロード
      - uses: shiguredo/github-actions/.github/actions/download-openh264@main
        id: openh264
        with:
          openh264_version: ${{ steps.version.outputs.openh264_version }}
          use-cache: true

      # OpenH264 パスを環境変数に設定
      - name: Set OpenH264 path
        if: ${{ steps.openh264.outputs.openh264_path }}
        run: echo "OPENH264_PATH=${{ steps.openh264.outputs.openh264_path }}" >> $GITHUB_ENV
        shell: bash

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: ${{ matrix.python.version }}

      ###################
      # ビルド
      ###################

      - name: Build sora-python-sdk
        working-directory: sora-python-sdk
        run: |
          set -x
          uv python pin ${{ matrix.python.version }}
          uv sync
          uv run python run.py build ${{ inputs.buildType == 'Debug' && '--debug' || '--relwithdebinfo' }} ${{ matrix.platform.name }} --local-sora-cpp-sdk-dir ../sora-cpp-sdk --local-webrtc-build-dir ../webrtc-build
          uv build
        env:
          BUILD_PROFILE: debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.platform.name }}_python-${{ matrix.python.version }}
          path: sora-python-sdk/dist/

      ###################
      # テスト
      ###################

      - name: E2E Test sora-python-sdk
        working-directory: sora-python-sdk
        run: |
          for i in {1..${{ inputs.loopCount || 10 }}}; do
            echo "---------------- $i 回目 ----------------"
            sleep 10
            uv run pytest tests/
          done

  publish_wheel:
    needs:
      - build_ubuntu
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu-24.04_x86_64
        python:
          - version: "3.13"
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: ${{ matrix.platform.name }}_python-${{ matrix.python.version }}
          path: dist
      - run: |
          if [ -e dist/*.tar.gz ]; then
            mv dist/*.tar.gz ./
          fi

      # テスト用
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

      # # 本番用
      # - name: Publish package to PyPI
      #   uses: pypa/gh-action-pypi-publish@release/v1
